In [1]:
import pandas as pd

<h2 style="color:green">üü© Tasks</h2>

Our sales department is interested in a summary of the collected data. Please generate a report including numbers and diagrams. Note that your audience are not data scientists, so take care to prepare insights that are as clear as possible. We are interested in the following:

1. Calculate the total number of customers in each section

2. Calculate the total number of customers in each section over time

3. Display the number of customers at checkout over time

4. Calculate the time each customer spent in the market

5. Calculate the total number of customers in the supermarket over time

6. Our business managers think that the first section customers visit follows a different pattern than the following ones. Plot the distribution of customers of their first visited section versus following sections (treat all sections visited after the first as ‚Äúfollowing‚Äù).

In [2]:
df_mon = pd.read_csv('../data/monday.csv', sep=';')
df_tue = pd.read_csv('../data/tuesday.csv', sep=';')
df_wed = pd.read_csv('../data/wednesday.csv', sep=';')
df_thu = pd.read_csv('../data/thursday.csv', sep=';')
df_fri = pd.read_csv('../data/friday.csv', sep=';')

In [3]:
df_thu.head(2)

             timestamp  customer_no location
0  2019-09-05 07:00:00            1   drinks
1  2019-09-05 07:01:00            2    fruit

---
<h2 style="color:green">üü© 1. Calculate the total number of customers in each section</h2>

In [4]:
df_mon_cust = df_mon.groupby('location').nunique()
df_tue_cust = df_tue.groupby('location').nunique()
df_wed_cust = df_wed.groupby('location').nunique()
df_thu_cust = df_thu.groupby('location').nunique()
df_fri_cust = df_fri.groupby('location').nunique()

In [5]:
df_mon_cust

          timestamp  customer_no
location
checkout        700         1437
dairy           527          720
drinks          514          661
fruit           577          827
spices          479          584

---
<h2 style="color:green">üü© 2. Calculate the total number of customers in each section over time</h2>

In [6]:
df_all_cust = df_mon_cust + df_tue_cust + df_wed_cust + df_thu_cust + df_fri_cust

In [7]:
df_all_cust

          timestamp  customer_no
location
checkout       3460         7417
dairy          2681         3818
drinks         2479         3214
fruit          2824         4284
spices         2395         2938

---
<h2 style="color:green">üü© 3. Display the number of customers at checkout over time</h2>

In [9]:
checkout_all = df_all_cust.loc['checkout']['customer_no']

In [10]:
checkout_all

7417

---
<h2 style="color:green">üü© 4. Calculate the time each customer spent in the market</h2>

In [56]:
df_mon['timestamp'] = pd.to_datetime(df_mon['timestamp'])
df_mon_cust_loc = df_mon.groupby(['customer_no','location']).min().copy()
#df_mon_cust_loc = df_mon_cust_loc.diff()
#df_mon_cust_loc.transpose()

#df_mon_cust_loc = df_mon.pivot(index='customer_no', columns='location', values='timestamp')

df_mon_cust_loc

                               timestamp
customer_no location
1           checkout 2019-09-02 07:05:00
            dairy    2019-09-02 07:03:00
2           checkout 2019-09-02 07:06:00
            dairy    2019-09-02 07:03:00
3           checkout 2019-09-02 07:06:00
...                                  ...
1444        checkout 2019-09-02 21:49:00
            spices   2019-09-02 21:48:00
1445        dairy    2019-09-02 21:49:00
1446        dairy    2019-09-02 21:50:00
1447        fruit    2019-09-02 21:50:00

[4229 rows x 1 columns]

---
<h2 style="color:green">üü© 5. Calculate the total number of customers in the supermarket over time</h2>