In [1]:
import pandas as pd

<h2 style="color:green">üü© Tasks</h2>

Our sales department is interested in a summary of the collected data. Please generate a report including numbers and diagrams. Note that your audience are not data scientists, so take care to prepare insights that are as clear as possible. We are interested in the following:

1. Calculate the total number of customers in each section

2. Calculate the total number of customers in each section over time

3. Display the number of customers at checkout over time

4. Calculate the time each customer spent in the market

5. Calculate the total number of customers in the supermarket over time

6. Our business managers think that the first section customers visit follows a different pattern than the following ones. Plot the distribution of customers of their first visited section versus following sections (treat all sections visited after the first as ‚Äúfollowing‚Äù).

In [2]:
df_mon = pd.read_csv('../data/monday.csv', sep=';')
df_tue = pd.read_csv('../data/tuesday.csv', sep=';')
df_wed = pd.read_csv('../data/wednesday.csv', sep=';')
df_thu = pd.read_csv('../data/thursday.csv', sep=';')
df_fri = pd.read_csv('../data/friday.csv', sep=';')

In [3]:
df_thu.head(2)

             timestamp  customer_no location
0  2019-09-05 07:00:00            1   drinks
1  2019-09-05 07:01:00            2    fruit

<br>
<h2 style="color:green">üü© 1. Calculate the total number of customers in each section</h2>
<br>1. Calculate the total number of customers in each section

In [4]:
df_mon_cust = df_mon.groupby('location').count()
df_mon_cust

          timestamp  customer_no
location
checkout       1437         1437
dairy           895          895
drinks          797          797
fruit          1005         1005
spices          750          750

<br>
<h2 style="color:green">üü© 2. Calculate the total number of customers in each section over time</h2>
<br>

In [5]:
df_tue_cust = df_tue.groupby('location').count()
df_wed_cust = df_wed.groupby('location').count()
df_thu_cust = df_thu.groupby('location').count()
df_fri_cust = df_fri.groupby('location').count()

In [10]:
df_all_cust = df_mon_cust.add(df_tue_cust).combine_first(df_mon_cust).combine_first(df_tue_cust).astype(int)
df_all_cust = df_all_cust.add(df_wed_cust).combine_first(df_all_cust).combine_first(df_wed_cust).astype(int)
df_all_cust = df_all_cust.add(df_thu_cust).combine_first(df_all_cust).combine_first(df_thu_cust).astype(int)
df_all_cust = df_all_cust.add(df_fri_cust).combine_first(df_all_cust).combine_first(df_fri_cust).astype(int)

In [11]:
df_all_cust

          timestamp  customer_no
location
checkout       7417         7417
dairy          4679         4679
drinks         3905         3905
fruit          5122         5122
spices         3754         3754