In [2]:
import pandas as pd

<h2 style="color:green">üü© Tasks</h2>

Our sales department is interested in a summary of the collected data. Please generate a report including numbers and diagrams. Note that your audience are not data scientists, so take care to prepare insights that are as clear as possible. We are interested in the following:

1. Calculate the total number of customers in each section

2. Calculate the total number of customers in each section over time

3. Display the number of customers at checkout over time

4. Calculate the time each customer spent in the market

5. Calculate the total number of customers in the supermarket over time

6. Our business managers think that the first section customers visit follows a different pattern than the following ones. Plot the distribution of customers of their first visited section versus following sections (treat all sections visited after the first as ‚Äúfollowing‚Äù).

In [3]:
df_mon = pd.read_csv('../data/monday.csv', sep=';', parse_dates=True)
df_mon['timestamp'] = pd.to_datetime(df_mon['timestamp'])
df_tue = pd.read_csv('../data/tuesday.csv', sep=';')
df_wed = pd.read_csv('../data/wednesday.csv', sep=';')
df_thu = pd.read_csv('../data/thursday.csv', sep=';')
df_fri = pd.read_csv('../data/friday.csv', sep=';')

In [4]:
df_mon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4884 entries, 0 to 4883
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    4884 non-null   datetime64[ns]
 1   customer_no  4884 non-null   int64
 2   location     4884 non-null   object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 114.6+ KB

In [5]:
df_thu.head(2)

             timestamp  customer_no location
0  2019-09-05 07:00:00            1   drinks
1  2019-09-05 07:01:00            2    fruit

---
<h2 style="color:green">üü© 1. Calculate the total number of customers in each section</h2>

In [6]:
df_mon_cust = df_mon.groupby('location').nunique()
df_tue_cust = df_tue.groupby('location').nunique()
df_wed_cust = df_wed.groupby('location').nunique()
df_thu_cust = df_thu.groupby('location').nunique()
df_fri_cust = df_fri.groupby('location').nunique()

In [7]:
df_mon_cust

          timestamp  customer_no
location
checkout        700         1437
dairy           527          720
drinks          514          661
fruit           577          827
spices          479          584

In [8]:
df_mon

               timestamp  customer_no  location
0    2019-09-02 07:03:00            1     dairy
1    2019-09-02 07:03:00            2     dairy
2    2019-09-02 07:04:00            3     dairy
3    2019-09-02 07:04:00            4     dairy
4    2019-09-02 07:04:00            5    spices
...                  ...          ...       ...
4879 2019-09-02 21:49:00         1442  checkout
4880 2019-09-02 21:49:00         1444  checkout
4881 2019-09-02 21:49:00         1445     dairy
4882 2019-09-02 21:50:00         1446     dairy
4883 2019-09-02 21:50:00         1447     fruit

[4884 rows x 3 columns]

---
<h2 style="color:green">üü© 2. Calculate the total number of customers in each section over time</h2>

In [9]:
df_all_cust = df_mon_cust + df_tue_cust + df_wed_cust + df_thu_cust + df_fri_cust

In [10]:
df_all_cust

          timestamp  customer_no
location
checkout       3460         7417
dairy          2681         3818
drinks         2479         3214
fruit          2824         4284
spices         2395         2938

---
<h2 style="color:green">üü© 3. Display the number of customers at checkout over time</h2>

In [11]:
checkout_all = df_all_cust.loc['checkout']['customer_no']

In [12]:
checkout_all

7417

---
<h2 style="color:green">üü© 4. Calculate the time each customer spent in the market</h2>

In [13]:
df_mon_cust_min = df_mon.groupby('customer_no')['timestamp'].min()
df_mon_cust_max = df_mon.groupby('customer_no')['timestamp'].max()

df_mon_cust_diff = df_mon_cust_max - df_mon_cust_min
pd.DataFrame(df_mon_cust_diff).describe()

                       timestamp
count                       1447
mean   0 days 00:06:26.371803731
std    0 days 00:06:20.300576298
min              0 days 00:00:00
25%              0 days 00:02:00
50%              0 days 00:04:00
75%              0 days 00:08:00
max              0 days 00:51:00

---
<h2 style="color:green">üü© 5. Calculate the total number of customers in the supermarket over time</h2>

In [23]:
all_cust = df_mon['customer_no'].max() + df_tue['customer_no'].max() + df_wed['customer_no'].max() + df_thu['customer_no'].max() + df_fri['customer_no'].max()

In [24]:
all_cust

7445

---
<h2 style="color:green">üü© 6. Our business managers think that the first section customers visit follows a different pattern than the following ones. Plot the distribution of customers of their first visited section versus following sections (treat all sections visited after the first as ‚Äúfollowing‚Äù).</h2>