## 2. Transition Probabilities

In [1]:
import pandas as pd
import datetime

In [2]:
# Reading the data
monday = pd.read_csv('../data/monday.csv', sep=';')

In [3]:
monday['timestamp'] = pd.to_datetime(monday['timestamp'])

In [4]:
# Sorting the data by customer_no and timestamp:
#monday_location_by_time = monday.sort_values(by=['customer_no', 'timestamp'])
#monday_location_by_time

### For one customer:

In [7]:
# Location: Before vs. After
one_customer = monday[monday['customer_no'].isin([6])].copy()
one_customer['location_before'] = one_customer['location'].shift(1).fillna('entrance')

# Timestamp
one_customer['timestamp_before'] = one_customer['timestamp'].shift(1)
one_customer['diff_timestamp'] = one_customer['timestamp'] - one_customer['timestamp_before']
one_customer

,timestamp,customer_no,location,location_before,timestamp_before,diff_timestamp
5,2019-09-02 07:04:00,6,spices,entrance,NaT,NaT
10,2019-09-02 07:05:00,6,dairy,spices,2019-09-02 07:04:00,0 days 00:01:00
62,2019-09-02 07:17:00,6,spices,dairy,2019-09-02 07:05:00,0 days 00:12:00
71,2019-09-02 07:18:00,6,drinks,spices,2019-09-02 07:17:00,0 days 00:01:00
102,2019-09-02 07:25:00,6,spices,drinks,2019-09-02 07:18:00,0 days 00:07:00
104,2019-09-02 07:26:00,6,dairy,spices,2019-09-02 07:25:00,0 days 00:01:00
117,2019-09-02 07:27:00,6,spices,dairy,2019-09-02 07:26:00,0 days 00:01:00
135,2019-09-02 07:29:00,6,checkout,spices,2019-09-02 07:27:00,0 days 00:02:00

In [11]:
monday["customer_no"].max()

1447

## Transition Probabilities

In [9]:
probabilities = pd.crosstab(one_customer['location'], one_customer['location_before'], normalize=0)
probabilities

location_before  dairy  drinks  entrance  spices
location
checkout           0.0    0.00      0.00     1.0
dairy              0.0    0.00      0.00     1.0
drinks             0.0    0.00      0.00     1.0
spices             0.5    0.25      0.25     0.0

state = ["dairy", "drinks", "fruit", "spices", "checkout"]

transitionName = [['checkout-dairy', 'checkout-drinks', 'checkout-entrance', 'checkout-spices'], 
                 ['dairy-dairy', 'dairy-drinks', 'dairy-entrance', 'dairy-spices'],
                 ['drinks-dairy', 'drinks-drinks', 'drinks-entrance', 'drinks-spices'],
                 ['spices-dairy', 'spices-drinks', 'spices-entrance', 'spices-spices']]

transition_mat = [[0.0, 0.0, 0.0, 1.0],[0.0, 0.0, 0.0, 1.0],[0.0, 0.0, 0.0, 1.0],[0.5, 0.25, 0.25, 0.0]]