## 2. Transition Probabilities

In [1]:
import pandas as pd
import datetime

In [2]:
# Reading the data
monday = pd.read_csv('../data/monday.csv', sep=';')

In [3]:
monday['timestamp'] = pd.to_datetime(monday['timestamp'])

In [4]:
# Sorting the data by customer_no and timestamp:
#monday_location_by_time = monday.sort_values(by=['customer_no', 'timestamp'])
#monday_location_by_time

### For one customer:

In [5]:
# Location: Before vs. After
one_customer = monday[monday['customer_no'].isin([6])].copy()
one_customer['before'] = one_customer['location'].shift(1).fillna('entrance')

# Timestamp
one_customer['timestamp_before'] = one_customer['timestamp'].shift(1)
one_customer['diff_timestamp'] = one_customer['timestamp'] - one_customer['timestamp_before']
one_customer

,timestamp,customer_no,location,before,timestamp_before,diff_timestamp
5,2019-09-02 07:04:00,6,spices,entrance,NaT,NaT
10,2019-09-02 07:05:00,6,dairy,spices,2019-09-02 07:04:00,0 days 00:01:00
62,2019-09-02 07:17:00,6,spices,dairy,2019-09-02 07:05:00,0 days 00:12:00
71,2019-09-02 07:18:00,6,drinks,spices,2019-09-02 07:17:00,0 days 00:01:00
102,2019-09-02 07:25:00,6,spices,drinks,2019-09-02 07:18:00,0 days 00:07:00
104,2019-09-02 07:26:00,6,dairy,spices,2019-09-02 07:25:00,0 days 00:01:00
117,2019-09-02 07:27:00,6,spices,dairy,2019-09-02 07:26:00,0 days 00:01:00
135,2019-09-02 07:29:00,6,checkout,spices,2019-09-02 07:27:00,0 days 00:02:00