In [1]:
import pandas as pd

In [2]:
df_mon = pd.read_csv('../data/monday.csv', sep=';', parse_dates=True)
df_mon['timestamp'] = pd.to_datetime(df_mon['timestamp'])
df_tue = pd.read_csv('../data/tuesday.csv', sep=';')
df_tue['timestamp'] = pd.to_datetime(df_mon['timestamp'])
df_wed = pd.read_csv('../data/wednesday.csv', sep=';')
df_wed['timestamp'] = pd.to_datetime(df_mon['timestamp'])
df_thu = pd.read_csv('../data/thursday.csv', sep=';')
df_thu['timestamp'] = pd.to_datetime(df_mon['timestamp'])
df_fri = pd.read_csv('../data/friday.csv', sep=';')
df_fri['timestamp'] = pd.to_datetime(df_mon['timestamp'])

In [3]:
df_mon.head(2)

            timestamp  customer_no location
0 2019-09-02 07:03:00            1    dairy
1 2019-09-02 07:03:00            2    dairy

---
### ðŸŸ© Transition Probabilities

We would like to analyze how customers switch between sections of the supermarket. Calculate and visualize the probability of transitions from section A to B by counting all observed transitions.

---

In [4]:
df_mon_cust_6 = df_mon[df_mon["customer_no"].isin([6])].copy()
df_mon_cust_6['location_before'] = df_mon_cust_6['location'].shift(1).fillna('entrance')
df_mon_cust_6['timnestamp_before'] = df_mon_cust_6['timestamp'].shift(1)
df_mon_cust_6['timnestamp_diff'] = df_mon_cust_6['timestamp'] - df_mon_cust_6['timnestamp_before']
df_mon_cust_6

,timestamp,customer_no,location,location_before,timnestamp_before,timnestamp_diff
5,2019-09-02 07:04:00,6,spices,entrance,NaT,NaT
10,2019-09-02 07:05:00,6,dairy,spices,2019-09-02 07:04:00,0 days 00:01:00
62,2019-09-02 07:17:00,6,spices,dairy,2019-09-02 07:05:00,0 days 00:12:00
71,2019-09-02 07:18:00,6,drinks,spices,2019-09-02 07:17:00,0 days 00:01:00
102,2019-09-02 07:25:00,6,spices,drinks,2019-09-02 07:18:00,0 days 00:07:00
104,2019-09-02 07:26:00,6,dairy,spices,2019-09-02 07:25:00,0 days 00:01:00
117,2019-09-02 07:27:00,6,spices,dairy,2019-09-02 07:26:00,0 days 00:01:00
135,2019-09-02 07:29:00,6,checkout,spices,2019-09-02 07:27:00,0 days 00:02:00

In [5]:
pd.crosstab(df_mon_cust_6['location'], df_mon_cust_6['location_before'], normalize=0)

location_before  dairy  drinks  entrance  spices
location
checkout           0.0    0.00      0.00     1.0
dairy              0.0    0.00      0.00     1.0
drinks             0.0    0.00      0.00     1.0
spices             0.5    0.25      0.25     0.0

In [13]:
def transition_probas(df=df_mon):
    """
    Given a dataframe
    prints the proba matrices 
    for every customer
    """

    customer_no = 1
    for i in range(df["customer_no"].max()):
        df_temp = df[df["customer_no"].isin([customer_no])].copy()
        df_temp['location_before'] = df_temp['location'].shift(1)
        df_temp['timnestamp_before'] = df_temp['timestamp'].shift(1)
        df_temp['timnestamp_diff'] = df_temp['timestamp'] - df_temp['timnestamp_before']
        print('Customer number: ' + str(customer_no))
        print()
        print(pd.crosstab(df_temp['location'], df_temp['location_before'], normalize=1))
        print()
        print("---")
        print()
        customer_no += 1

transition_probas(df_mon)

NameError: name 'df' is not defined

---
## ðŸŸ© MC-Simulation

Use your transition probability matrix to propagate the states of an idealized population. Assume that there are infinite customers, so you can consider a state distribution.

---